<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rosuh.filepicker" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <activity
            android:name=".FilePickerActivity"
            android:configChanges="orientation|screenSize" />
    </application>
</manifest>
